:root {
    --primary: #EB5B26;
    --secondary: #101010;
    --light: var(--bs-secondary-bg-subtle, #1010101A);
}

html,body {
    overflow-x: hidden;
}

.btn-primary,.btn-primary:disabled {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: var(--secondary);
    border-color: var(--secondary);
}

.main {
    max-width: 540px;
}

#worksheet_table {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    max-width: 920px;
    margin-inline: auto;
    text-align: right;
    gap: 20px;
    padding: 10px;
}

.question_number {
    background: var(--light);
    min-width: 50px;
    display: inline-block;
}

.cell.answer_cell {
    background: var(--light);
}

#credit {
    width: 100%;
}

@media (max-width:767px) {
    #worksheet_table {
        grid-template-columns: repeat(2,1fr);
    }
}